<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='material.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='material.js') }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
<div id="root"></div>

<!-- Attach React components -->
<script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>